{% if products %}
	<div class="inner">
		{% for product in products %}
			<div class="cart-item df" data-cart-item>
				<a class="cart-image" href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}"></a>
				<div class="cart-center df fdc ais jcsb">
					<a class="cart-name" href="{{ product.href }}">{{ product.name }}
						{% if product.option[0].value %}
							<span>- {{ product.option[0].value }}</span>
						{% endif %}
					</a>
					<div class="cart-quantity quantity df" data-quantity data-cart="{{product.cart_id}}">
						<div class="gnt-btn df jcc aic" data-qnt-btn="0">-</div>
						<input type="number" name="quantity" value="{{ product.quantity }}" data-input-quantity class="form-control cnt">
						<div class="gnt-btn df jcc aic" data-qnt-btn="1">+</div>
					</div>
					<div class="cart-sum">{{ product.total }}</div>
				</div>
				<div class="cart-right df aie jce posr">
					<button type="button" class="btn-hidden posa" onclick="cart.remove({{ product.cart_id }});">
						<svg width="16" height="24">
							<use xlink:href="/catalog/view/theme/noir/img/sprite.svg#trash"></use>
						</svg>
					</button>
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="cart-total-wrap">
		<div class="totals  df aic jcsb">
			<label>Wszystko</label>
			<div class="cart-total">{{ total }}</div>
		</div>
		<a href="{{checkout}}" class="btn dif aic jcc">
			ZŁÓŻ ZAMÓWIENIE
			<svg>
				<use xlink:href="/catalog/view/theme/noir/img/sprite.svg#btn-arrow"></use>
			</svg>
		</a>
	</div>
{% else %}
	<p>Wózek jest pusty</p>
{% endif %}
