{{ header }}
<div id="common-success" class="container page-wrap">
	<div class="breadcrumbs">
		{% for breadcrumb in breadcrumbs %}
			{% if loop.last %}
				<span>{{ breadcrumb.text }}</span>
			{% else %}
				<a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
				<i>/</i>
			{% endif %}
		{% endfor %}
	</div>
	<h1 class="page-title">{{ heading_title }}</h1>
	<div class="content">
		{{ content_top }}
		{{ text_message }}
		{% if bank_transfer_info %}
			<div class="alert alert-info">
				{{ bank_transfer_info|raw }}
			</div>
		{% endif %}
		<div class="buttons">
			<a href="{{ continue }}" class="form-btn btn dif aic jcc">{{ button_continue }}</a>
		</div>
		{{ content_bottom }}
	</div>
	{{ column_left }}
	{{ column_right }}
</div>
{{ footer }}</body></html>
