<h3>Podstawowe dane</h3>
<div class="form-block">
    <label class="checkbox large-box df">
        <input type="checkbox" name="same_recipient" id="same-recipient" value="1" checked>
        <b></b>
        <span>{{ text_same_recipient }}</span>
    </label>
</div>


{% if addresses %}
<div class="form-block">
	<select name="address[address_id]" id="input-address" data-nice-select>
		<option value="" disabled{{ not shipping_address.address_id ? ' selected'}}> --- Wybierz adres --- </option>
		{% for item in addresses %}
		<option value="{{ item.address_id }}"{{ item.address_id == shipping_address.address_id  ? ' selected'}}>{{ item.city }}, {{ item.address_1 }}</option>
		{% endfor %}
    </select>
</div>
{% endif %}
<div class="df jcsb fww">
	<div class="popup-input w50" data-error="firstname">
		<input type="text" name="address[firstname]" value="{{ shipping_address.firstname }}" placeholder="{{ entry_firstname }}">
		<div class="form-error"></div>
	</div>
	<div class="popup-input w50" data-error="lastname">
		<input type="text" name="address[lastname]" value="{{shipping_address.lastname }}" placeholder="{{entry_lastname }}">
		<div class="form-error"></div>
	</div>
</div>
<div class="form-block" data-error="address_1">
    <input type="text" name="address[address_1]" value="{{shipping_address.address_1}}" placeholder="{{ entry_address_1 }}" />
	<div class="form-error"></div>
</div>
<div class="form-block" data-error="city">
	<input type="text" name="address[city]" value="{{shipping_address.city}}" placeholder="{{ entry_city }}" />
	<div class="form-error"></div>
</div>
<div class="form-block" data-error="postcode">
	<input type="text" name="address[postcode]" value="{{shipping_address.postcode}}" placeholder="{{ entry_postcode }}" />
	<div class="form-error"></div>
</div>
<input type="hidden" name="address[zone_id]" value="0">
<!--
<div class="form-block" data-error="zone">
	<select name="address[zone_id]" id="input-zone" data-nice-select>
		<option value="" disabled{{ not shipping_address.zone_id ? ' selected'}}>--- Wybierz państwo ---</option>
		{% for zone in zones %}
		<option value="{{ zone.zone_id }}"{{ zone.zone_id == shipping_address.zone_id  ? ' selected'}}>{{ zone.name }}</option>
		{% endfor %}
	</select>
	<div class="form-error"></div>
</div>
-->
<div class="form-block" data-error="telephone">
	<input type="text" name="address[telephone]" value="{{shipping_address.telephone}}"" placeholder="Telefon">
	<div class="form-error"></div>
</div>
<div class="form-block" data-error="email">
	<input type="text" name="address[email]" value="{{shipping_address.email}}" placeholder="{{ entry_email_address }}" />
	<div class="form-error"></div>
</div>
<div id="recipient-fields" style="display:none;">
    <div class="df jcsb fww">
        <div class="popup-input w50" data-error="recipient_firstname">
            <input type="text" name="recipient[firstname]" value="{{ shipping_address.firstname }}" placeholder="{{ entry_firstname }}">
            <div class="form-error"></div>
        </div>
        <div class="popup-input w50" data-error="recipient_lastname">
            <input type="text" name="recipient[lastname]" value="{{ shipping_address.lastname }}" placeholder="{{ entry_lastname }}">
            <div class="form-error"></div>
        </div>
    </div>
    <div class="form-block" data-error="recipient_address_1">
        <input type="text" name="recipient[address_1]" value="{{shipping_address.address_1}}" placeholder="{{ entry_address_1 }}" />
        <div class="form-error"></div>
    </div>
    <div class="form-block" data-error="recipient_city">
        <input type="text" name="recipient[city]" value="{{shipping_address.city}}" placeholder="{{ entry_city }}" />
        <div class="form-error"></div>
    </div>
    <div class="form-block" data-error="recipient_postcode">
        <input type="text" name="recipient[postcode]" value="{{shipping_address.postcode}}" placeholder="{{ entry_postcode }}" />
        <div class="form-error"></div>
    </div>
    <input type="hidden" name="recipient[zone_id]" value="0">
    <div class="form-block" data-error="recipient_telephone">
        <input type="text" name="recipient[telephone]" value="{{shipping_address.telephone}}" placeholder="Telefon">
        <div class="form-error"></div>
    </div>
    <div class="form-block" data-error="recipient_email">
        <input type="text" name="recipient[email]" value="{{shipping_address.email}}" placeholder="{{ entry_email_address }}" />
        <div class="form-error"></div>
    </div>
    <input type="hidden" name="recipient[country_id]" value="{{shipping_address.country_id}}">
</div>

{% if not logged %}
<div class="form-block">
	<input type="text" name="address[company]" value="{{shipping_address.company}}" placeholder="{{ entry_company }}" id="input-shipping-company" class="form-control" />
</div>
<div class="form-block">
	<input type="text" name="address[nip]" value="{{shipping_address.nip}}" placeholder="NIP" id="input-shipping-nip" class="form-control" />
</div>
{% endif %}
<div class="comment-block">
	<h3>Uwagi do zamówienia (opcjonalne)</h3>
	<div class="textarea-wrapper">
		<textarea name="comment" rows="4" class="form-control">{{ comment }}{{ commenta }}</textarea>
	</div>
</div>
<input type="hidden" name="address[country_id]" value="{{shipping_address.country_id}}">