{{ header }}
<div id="account-return" class="page-wrapper page-account">
	<div class="container">
		<div class="page-title pannel-trigger df aic" data-pannel-open>
			<svg><use xlink:href="/catalog/view/theme/noir/img/sprite.svg#user"></use></svg>
			Moje konto
		</div>
		<div class="account-wrapper df">
			{{ column_left }}
			<div class="main-column">
				<h1 class="account-title">{{ heading_title }}</h1>
				<div class="return-info">
					<table class="table table-bordered table-hover">
						<tbody>
							<tr>
								<td class="text-left">
									<p><b>{{ text_return_id }}</b> #{{ return_id }}</p>
									<p><b>{{ text_date_added }}</b> {{ date_added }}</p>
								</td>
								<td class="text-left">
									<p><b>{{ text_order_id }}</b> #{{ order_id }}</p>
									<p><b>{{ text_date_ordered }}</b> {{ date_ordered }}</p>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<h2 class="account-title subtitle">{{ text_product }}</h2>
				<div class="return-info">
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th class="text-left">{{ column_product }}</th>
								<th class="text-left">{{ column_model }}</th>
								<th class="text-right">{{ column_quantity }}</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="text-left">{{ product }}</td>
								<td class="text-left">{{ model }}</td>
								<td class="text-right">{{ quantity }}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<h2 class="account-title subtitle">{{ text_reason }}</h2>
				<div class="return-info">
					<table class="list table table-bordered table-hover">
						<thead>
							<tr>
								<th class="text-left">{{ column_reason }}</th>
								<th class="text-left">{{ column_opened }}</th>
								<th class="text-left">{{ column_action }}</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="text-left">{{ reason }}</td>
								<td class="text-left">{{ opened }}</td>
								<td class="text-left">{{ action }}</td>
							</tr>
						</tbody>
					</table>
				</div>
				{% if comment %}
				<div class="return-info">
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th class="text-left">{{ text_comment }}</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="text-left">{{ comment }}</td>
							</tr>
						</tbody>
					</table>
				</div>
				{% endif %}
				{% if histories %}
				<h2 class="account-title subtitle">{{ text_history }}</h2>
				<div class="return-info">
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th class="text-left">{{ column_date_added }}</th>
								<th class="text-left">{{ column_status }}</th>
								<th class="text-left">{{ column_comment }}</th>
							</tr>
						</thead>
						<tbody>
							{% for history in histories %}
							<tr>
								<td class="text-left">{{ history.date_added }}</td>
								<td class="text-left">{{ history.status }}</td>
								<td class="text-left">{{ history.comment }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				{% endif %}
				{{ content_bottom }}
			</div>
		</div>   
		{{ column_right }}
	</div>
</div>
{{ footer }}
</body>
</html>