<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>

    {% if schemas_header %}
        {% for schema in schemas_header %}
            <script type="application/ld+json">{{ schema }}</script>
        {% endfor %}
    {% endif %}
            
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ title }}</title>

{% if noindex %}
<!-- OCFilter Start -->
<meta name="robots" content="noindex,nofollow" />
<!-- OCFilter End -->
{% endif %}
      
	{% if robots %}
	<meta name="robots" content="{{ robots }}" />
	{% endif %}
	<base href="{{ base }}" />
	{% if description %}
	<meta name="description" content="{{ description }}" />
	{% endif %}
	{% if keywords %}
	<meta name="keywords" content="{{ keywords }}" />
	{% endif %}
	<meta property="og:title" content="{{ title }}" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ og_url }}" />
	{% if og_image %}
	<meta property="og:image" content="{{ og_image }}" />
	{% else %}
	<meta property="og:image" content="{{ logo }}" />
	{% endif %}
	<meta property="og:site_name" content="{{ name }}" />
	<link href="catalog/view/theme/noir/css/fancybox.css" rel="stylesheet">
	<link href="catalog/view/theme/noir/css/stylesheet.css" rel="stylesheet">
	<script src="catalog/view/theme/noir/js/jquery-3.3.1.min.js" type="text/javascript"></script>
	<script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js" type="text/javascript"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
	<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
	

	{% for style in styles %}
	<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
	{% endfor %}
	{% for script in scripts %}
	<script src="{{ script }}" type="text/javascript"></script>
	{% endfor %}
	{% for link in links %}
	<link href="{{ link.href }}" rel="{{ link.rel }}" />
	{% endfor %}
	{% for analytic in analytics %}
	{{ analytic }}
	{% endfor %}
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-TBVLP4GV');</script>
	<!-- End Google Tag Manager -->
	{{ load_format_pagination }}

				{% if me_fb_events_status and me_fb_events_pixel_id %}
				<script>
				  !function(f,b,e,v,n,t,s)
				  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
				  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
				  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
				  n.queue=[];t=b.createElement(e);t.async=!0;
				  t.src=v;s=b.getElementsByTagName(e)[0];
				  s.parentNode.insertBefore(t,s)}(window, document,'script',
				  'https://connect.facebook.net/en_US/fbevents.js');
				  fbq('init', '{{ me_fb_events_pixel_id }}');
				  {% if me_fb_events_track_view %}
				  const d = new Date();
				  let event_id = d.getTime(); 
				  fbq('track', 'PageView',{eventID: 'PageView.' + event_id},{eventID: 'PageView.' + event_id});
				  {% if me_fb_events_access_token %}
				  fbq_custom("PageView", window.location.href, {event_id: 'PageView.' + event_id});
				  {% endif %}
				  {% endif %}
				</script>
				<noscript>
			  <img height="1" width="1" style="display:none" 
				   src="https://www.facebook.com/tr?id={{ me_fb_events_pixel_id }}&ev=PageView&noscript=1"/>
			</noscript>
				{% endif %}
			

        {{ load_format_pagination }}
      
</head>
<body class="{{ home == og_url ? 'home' : 'page'}}">
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TBVLP4GV"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	{{ cart_pannel }}
	<header class="header">
		<div class="inner posr df aic jcsb">
			<div class="header-left df aic">
				{% if home == og_url %}
				<div class="logo df aic"><img class="ta" src="{{ logo }}" alt=""></div>
				{% else %}
				<a href="{{ home }}" class="logo df aic"><img class="ta" src="{{ logo }}" alt=""></a>
				{% endif %}
				<div class="main-menu df aic">
					{{ menu }}
				</div>
				{{ search }}
			</div>
			<div class="header-right df aic">
				<div class="icon-wrap search df posr aic jcc" data-get-search>
					<svg width="19" height="19"><use xlink:href="/catalog/view/theme/noir/img/sprite.svg#search"></use></svg>
				</div>
				{{ currency }}
				<a href="{{ wishlist }}" class="icon-wrap header-wishlist posr df aic jcc ta2">
					<svg width="21" height="19"><use xlink:href="/catalog/view/theme/noir/img/sprite.svg#heart"></use></svg>
					<span id="wishlist-total" class="df jcc posa{{text_wishlist ? '' : ' hidden'}}">{{text_wishlist}}</span>
				</a>
				{{ cart }}
				{% if logged %}
				<a class="icon-wrap account-icon df aic jcc ta2" href="{{account}}" data-account>
				{% else %}
				<a class="icon-wrap account-icon df aic jcc ta2" href="#sign-in" data-fancybox>
				{% endif %}
					<svg width="21" height="21"><use xlink:href="/catalog/view/theme/noir/img/sprite.svg#user"></use></svg>
				</a>
				<div class="icon-wrap hamburger-box posr" data-menu-toggle>
					<span class="hamburger-inner posa ta2"></span>
				</div>
			</div>
		</div>
	</header>
	<div class="site-wrapper posr">

